.servers {
    height: 0;
    opacity: 0;
    position: absolute;
    left: 5px;
    top: 5px;
}

.servers .serversToggle {
    opacity: 0.8;
    font-size: 1.5rem;
    text-shadow: 0 0 7px rgb(255, 255, 255);
}

.servers .serversToggle:hover {
    cursor: pointer;
    opacity: 1;
}

.servers .serversList {
    display: none;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 0.8rem;
}
.servers .serversList .server {
    padding:5px 7px;   
}
.servers .serversList .server:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}